* {
    margin: 0;
    padding: 0;
}

/*Body-ra vonatkozó style */
body {
    margin-left: 20%;
    margin-right: 20%;
    /*border: 1px solid #727272;*/
    background-color: #cacaca;
    

}

/*Navigációra vonatkozó style */
nav ul {
    list-style-type: none;
    background-color: #747272;
    overflow: hidden;
    width: 60%;
    position: absolute;/*feltapasztom a menüszalagot az oldal tetejére*/
    top: 0px; /*adhatok neki egy kis távolságot az oldal tetejétől pl. 20px*/
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    width: 70%;
    padding: 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

li a:hover:not(.active) {
        background-color: #444343;
}


nav ul li a:hover {
    background-color: #747272;
    color:#ffffff;
}

.active {
    background-color: #04AA6D;
}


/*Header és Címsorokra vonatkozó style*/
header {
    padding-top: 40px;
    margin-top: 40px;
    background-color: #d8d8d8;
    text-align: center;
    border: 2px solid #d8d8d8;
    border-radius: 20px;
}

h1, h2 {
    padding: 25px;
    font-family: "Megrim", serif;
    text-align: center;
    text-decoration: none;
}

/*innen indul a másolt kód*/
/*
* {
    box-sizing: border-box;
  }
  */

  section.gallery {
    display: grid;
  
    place-items: center; 
    min-height: 100vh;
  } 
  


  ul.result {
    display: flex;
    width: calc(80% - 2rem);
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  li.result {
    padding: 0;
  }
  
  img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s ease;
  }
  
  ul:is(:hover, :focus-within) img {
    opacity: calc(0.1 + (var(--active-lerp, 0) * 0.9));
    filter: grayscale(calc(1 - var(--active-lerp, 0)));
  }
  
  :root {
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
  }
  
  a {
    outline-offset: 4px;
  }
  
  li {
    flex: calc(0.1 + (var(--active-lerp, 0) * 1));
    transition: flex 0.2s ease;
  }
  
  li:is(:hover, :focus-within) {
    --active-lerp: var(--lerp-0);
    z-index: 7;
  }
  li:has( + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li {
    --active-lerp: var(--lerp-1);
    z-index: 6;
  }
  li:has( + li + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li + li {
    --active-lerp: var(--lerp-2);
    z-index: 5;
  }
  li:has( + li + li + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li + li + li {
    --active-lerp: var(--lerp-3);
    z-index: 4;
  }
  li:has( + li + li + li + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li + li + li + li {
    --active-lerp: var(--lerp-4);
    z-index: 3;
  }
  li:has( + li + li + li + li + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li + li + li + li + li {
    --active-lerp: var(--lerp-5);
    z-index: 2;
  }
  li:has( + li + li + li + li + li + li:is(:hover, :focus-within)),
  li:is(:hover, :focus-within) + li + li + li + li + li + li {
    --active-lerp: var(--lerp-6);
    z-index: 1;
  }
  
  /*Footer*/
footer {
    position: relative;
    margin-top: 25px;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #d8d8d8;
    color: #000000;
    text-align: center;
    border: 2px solid #d8d8d8;
    border-radius: 20px;
    
}